{% extends 'base.html' %}
{% load static %}  <!-- 이 줄을 추가합니다 -->

{% block title %}Code Review List{% endblock %}

{% block content %}
<main>
    <h1>리뷰 목록</h1>
    <div class="review-cards">
        {% for review in reviews %}
            <div class="card">
                <h2>{{ review.title }}</h2>
                <p>{{ review.content|truncatewords:20 }}</p>
                <a href="{% url 'review_detail' review.pk %}">자세히 보기</a>
                {% if user.is_authenticated and user == review.author %}
                    <form method="post" action="{% url 'delete_review' review.pk %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="delete-button">삭제</button>
                    </form>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</main>
<aside>
    <div class="ad">
        <img src="{% static 'images/ad1.jpg' %}" alt="Ad 1">
    </div>
    <div class="ad">
        <img src="{% static 'images/ad2.jpg' %}" alt="Ad 2">
    </div>
    <div class="ad">
        <img src="{% static 'images/ad3.jpg' %}" alt="Ad 3">
    </div>
</aside>
{% endblock %}
